
.header {
	background: linear-gradient(45deg,#40E0D0,yellow);
	height: 65px; /* Es el alto de la barra de navegación */
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 9px;
}

.logo-container {
	justify-content: center;
	justify-items: space-around;
	}

.logo {
	height: 64px;
	width: auto;
}

.nav_toggle {
	display: none;
}

.nav_items a{
	margin: 3px;
	color: rgb(113, 61, 197);
	position: relative;
	text-decoration: none;
	padding: 7px 10px;
	border-radius: 20px;
	border: 2px solid transparent;
	transition: all 0.7s ease;
	white-space: nowrap;
	font-weight: 500;
}

.nav_items a:hover {
  color: #102c19;
  background-color: aqua;
}

.nav_items ul {
  position: relative;
  list-style: none;
  display: flex;
  gap: 9px;
  margin: 0;
  padding: 0;
}

.nav_items ul li {
	margin: 15px 15px;
}




/* Responsive styles */
@media (max-width: 768px) {
	.nav_items  ul {
		position: absolute;
		top: 65px;
		left: 0;
		background: linear-gradient(45deg,yellow, #40E0D0);
		display: flex;
		flex-direction: column;
		width: 40%; /* Hacer que ocupe todo el ancho opcional */
		height: -webkit-fill-available;
		transform: translateX(-100%);
		transition: 0.3s ease all; /* Animación suave al abrir/cerrar el menú */
	}

	.nav_items.open ul{
		transform: translateX(0) !important;
	}

	.nav_toggle {
		display: flex !important;
		flex-direction: column;
		cursor: pointer;
		margin: 15px;
		padding: 10px;
	}

	.nav_toggle span {
		height: 4px;
		width: 30px;
		background: rgb(113, 61, 197);
		margin-bottom: 5px;
		border-radius: 5px;
		transform-origin: 5px 0px;
		transition: all 0.3s linear;
	}

	.nav_toggle.open > span{
		transform: rotate(45deg) translate(0px, 0px);
	}

	.nav_toggle.open > span:nth-child(2){
		display: none;
	}

	.nav_toggle.open > span:nth-child(3) {
		transform: rotate(-45deg) translate(-5px, 1px);
	}
}