.container {
	background: chocolate;
	margin-inline: auto;
	padding-inline: 4px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	min-width: 100vh;
	max-width: 100%;
	gap: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
	/*border-radius: 8px;*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}
.header {
	background-color: rgb(226, 207, 217);
	position: sticky;
	top: 0;
	z-index: 20;
	justify-content: space-between;
	display: flex;
	gap: 16px;
	border-bottom-width: 16px;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}

.logo {
	padding-top: 7px;
	height: 65px;
	width: auto;
}

.nav_toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #646cff;
  
}
.header a:hover {
  color: #102c19;
}

/* Responsive styles */
@media (max-width: 768px) {
	ul {
		flex-direction: column;
		position: absolute;
		top: 70px;
		left: -100%;
		background-color: rgb(147, 31, 93);
		width: 100%;
		height: -webkit-fill-available;

		transition: 0.3s ease all;
	}
	}