.container {
	background: chocolate;
	margin-inline: auto;
	padding-inline: 4px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	min-width: 100vh;
	max-width: 100%;
	gap: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
	/*border-radius: 8px;*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}
.header {
	background-color: rgb(226, 207, 217);
	position:relative;
	top: 0;
	z-index: 20;
	justify-content: space-between;
	display: flex;
	gap: 6px;
	border-bottom-width: 16px;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}

.logo {
	padding-top: 7px;
	height: 65px;
	width: auto;
}

.nav_toggle {
	display: none;
}

.nav_items a{
	margin: 15px;
	color: rgb(113, 61, 197);
	position: relative;
	text-decoration: none;
	font-weight: 500;
}

.nav_items a:hover {
  color: #102c19;
}

.nav_items ul {
  position: relative;
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}




/* Responsive styles */
@media (max-width: 768px) {
	.nav_items  ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: rgb(147, 31, 93);
		width: 100%;
		height: -webkit-fill-available;
		transform: translateX(-100%);
		transition: 0.3s ease all;
	}

	.nav_items.open{
		transform: translateX(0) !important;
	}

	.nav_toggle {
		display: flex !important;
		flex-direction: column;
		cursor: pointer;
		margin: 15px;
		padding: 10px;
	}

	.nav_toggle span {
		height: 4px;
		width: 30px;
		background: rgb(113, 61, 197);
		margin-bottom: 5px;
		border-radius: 5px;
		transform-origin: 5px 0px;
		transition: all 0.3s linear;
	}

	.nav_toggle.open > span{
		transform: rotate(45deg) translate(0px, 0px);
	}

	.nav_toggle.open > span:nth-child(2){
		display: none;
	}

	.nav_toggle.open > span:nth-child(3) {
		transform: rotate(-45deg) translate(-5px, 1px);
	}
}